form{
    text-align: right;
    padding: 10px;
    width: 350px;
    display: inline-block;
}

form h3{
    text-align: left;
}

form input{
    margin: 5px;
}

.field-validation-error{
    display: block;
}