html{
    background-color: #87c5de;
}

#wrapper{
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 100%;
}

#splash{
    border: 3px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.menbutton{
    margin: 5px 0;
}

#header{
    text-align: center;
    position: relative;
}

#sidebar{
    position: absolute;
    padding: 2px;
    left: 0px;
    border: 3px inset gray;
    background-color: white;
    text-align: center;
    vertical-align: middle;
}

#sidebar h4{
    margin: 2px;
}

h1{
    border: 3px inset gray;
    background-color: white;
    display: inline-block;
    padding: 5px;
    clear: both;
}

#hand{
    border: 3px inset gray;
    background-color: white;
}

#widow, #played, #messages{
    border: 3px inset gray;
    background-color: lightgray;
}

#widow form{
    margin: 10px
}

#hand div, #widow div, #played div{
    background: #888888;
    background: -webkit-linear-gradient(#B3B1B1, #888888);
    background: -o-linear-gradient(#B3B1B1, #888888);
    background: -moz-linear-gradient(#B3B1B1, #888888);
    background: linear-gradient(#B3B1B1, #888888);
    display: inline-block;
    width: 100px;
    height: 150px;
    border: 2px solid black;
    margin: 5px;
    border-radius: 3px;
    vertical-align: top;
}

.cardRed{
    color: crimson;
}
.cardYellow{
    color: yellow;
}
.cardBlack{
    color: black;
}
.cardGreen{
    color: green;
}
.cardRook{
    color: #02aaa6;
}
.cardRook img{
    width: 80px;
    border: 0px solid rgba(0, 0, 0, 0);
}
.cardtl{
    margin: 5px 0 0 3px;
    text-align: left;
}
.cardm{
    margin: 10px 0;
    text-align: center;
    font-size: 50pt;
}
.cardbr{
    margin: 0 3px 0 0;
    text-align: left;
    -ms-transform:rotate(180deg); 
    -webkit-transform:rotate(180deg); 
    transform:rotate(180deg);
}

#bidbox{
    margin: 5px;
    border: 3px inset gray;
    background-color: white;
    display: inline-block;
    padding: 0 5px 15px 5px;
}
#bidbox p{
    margin: 0px;
}

#cardlist{
    border: 0px solid lightgray;
}

fieldset{
    border: none;
}