<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Rook</title>
        <link rel="stylesheet", type="text/css", href="{{url_for('static', filename='css/style.css')}}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body> 
        <div id="wrapper">
            <form action="/game/start", method="post">
                <select name="num">
                    <option value="1">Player 1</option>
                    <option value="2">Player 2</option>
                    <option value="3">Player 3</option>
                    <option value="4">Player 4</option>
                </select>
                <input type="submit">
            </form>
        </div>
    </body>
</html>